{% extends 'base.html' %}
{% block content %}
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 20px;;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
margin: 20px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.school {
  background-color: skyblue;
  color: blue;
  text-align:center;
  margin: 20px;
  padding: 10px;
}
.button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 12px;
  text-align: center;
  float:right;
  margin: 20px;
 
}
</style>
</head>


<div class="school">
<h2>Kaithapal primary school</h2>
<h3>Welcome to school database </h3>

</div>
<div>
<a href="/home_add" class="button">Add Class</a>
 </div>   
<table>
  <tr>
    <th>Class</th>
    <th>Strength</th>
    <th>Class-teacher</th>
  </tr>
  {% for strength in strength %}
  <tr>
    <td>
          <a href ="/classes/{{ strength.classes }}"><span>{{ strength.classes }}</span> 
    </td>
     
    <td> {{ strength.strength }}</td>
    <td> {{ strength.cls_teacher }}</td>
   
  </tr>
 {% endfor %}

</table>
 
{% endblock content %}
